---
layout: default
title: Events
---
{% include flexslider.html %}
<h1>Events</h1>
  <!-- LEFT COLUMN -->
<div class="left-column">
  <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <a href="/kick-off/">
              <img src="{% asset_path 2.jpg %}" alt="Dress-up like 1965">
              <h2>Dress like it's 1965</h2>
              <h3>50th Kick-off event | January 15, 2015</h3>
              </a>
            </li>
            <li>
              <img src="{% asset_path 6.jpg %}" alt="Alumni Weekend">
              <h2>It's time to come home!</h2>
              <h3>Alumni Weekend 2015 | April, 24-27 2015</h3>
            </li>
            <li>
              <img src="{% asset_path 1.jpg %}" alt="Founders Celebration 2015">
              <h2>Founders Celebration 2015</h2>
              <h3>October 2015</h3>
            </li>
          </ul>
        </div>
      </section>


  <ul class="post-list">
    {% for event in site.data.events.events %}
      <li>
        <span class="post-meta event-date">{{ event.event.event_date | date: "%b" }}<br/ >{{ event.event.event_date | date: "%-d" }}</span>
        <div class="event-content">
        {% if event.event.thumbnail != "" %}
          <img src="{{ event.event.thumbnail }}" alt="No alt text" class="event-image" />
        {% endif %}
        <h2>
          <a class="post-link" href="{{ event.event.link }}">{{ event.event.title }}</a>
        </h2>        
        <p>
        <span class="event-location">{{ event.event.location }}</span>
        <span class="event-teaser">{{ event.event.teaser }}</span>
        </p>
        </div>
      </li>
      <div class="clear"></div>
    {% endfor %}
  </ul>


<script>
  // $.getJSON( "events.json", function( data ) {
  //   var items = [];
  //   console.log(data);
  //   $.each( data, function( key, val ) {
  //     items.push( "<li id='" + key + "'>" + val + "</li>" );
  //   });
   
  //   $( "<ul/>", {
  //     "class": "my-new-list",
  //     html: items.join( "" )
  //   }).appendTo( "body" );
  // });
</script>


  </div>
  <!-- RIGHT COLUMN -->
  <div class="right-column">
    {% include events-sidebar.html %}
  </div>
  