---
layout: default
title: Events
---
<!--SLIDER JS-->
<script src="js/modernizr.js"></script>
<script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.min.js">\x3C/script>')</script>
 <script defer src="js/jquery.flexslider.js"></script>

 <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
  <script src="js/jquery.easing.js"></script>
  <script src="js/jquery.mousewheel.js"></script>
<!--END SLIDER JS-->
<h1>Events</h1>
  <!-- LEFT COLUMN -->
  <div class="left-column">
  <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <img src="{% asset_path 1.jpg %}" alt="Founders Celebration 2015">
              <h2>Founders Celebration 2015</h2>
              <h3>October 2015</h3>
            </li>
            <li>
              <img src="{% asset_path 2.jpg %}" alt="Dress-up like 1965">
              <h2>Dress like it's 1965</h2>
              <h3>50th Kick-off event | January 15, 2015</h3>
            </li>
            <li>
              <img src="{% asset_path 6.jpg %}" alt="Alumni Weekend">
              <h2>It's time to come home!</h2>
              <h3>Alumni Weekend 2015 | April, 24-27 2015</h3>
            </li>
          </ul>
        </div>
      </section>

  <ul class="post-list">
    {% for post in site.categories.event reversed %}
      <li>
        <span class="post-meta event-date">{{ post.date | date: "%b" }}<br/ >{{ post.date | date: "%-d" }}</span>
        <div class="event-content">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
        </div>
      </li>
      <div class="clear"></div>
    {% endfor %}
  </ul>

  <ul class="post-list">
    {% for post in site.categories.eventnodate reversed %}
      <li>
        <span class="post-meta event-date">{{ post.nodate }}</span>
        <div class="event-content">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        {{ post.excerpt }}
      </div>
      </li>
      <div class="clear"></div>
    {% endfor %}
  </ul>
  </div>
  <!-- RIGHT COLUMN -->
  <div class="right-column">
    {% include events-sidebar.html %}
  </div>
</section>
  