---
layout: default
title: The Next 50
---
{% include fancybox.html %}
<!-- LEFT COLUMN -->
<div class="left-half">
  <h1>The Next 50</h1>
  <ul class="post-list">
      {% for post in site.categories.next limit:1 %}
      {{ post.content }}
      {% endfor %}
    </ul>
  </div>
  <!-- END COLUMN ONE -->
  
  <!-- END COLUMN TWO -->

   <div class="right-half">
    <ul class="post-list">
      {% for post in site.categories.nextvideo reversed limit:2 %}
        <li>
          <div class="ourstories-content">
          <h4>
            <a href="{{ post.nextvideo }}" class="fancybox-media">{{ post.title }}</a>
          </h4>
          <div class="video-image">
              <a href="{{ post.nextvideo }}" class="fancybox-media" data-fancybox-title="{{ post.alt }}">
              <img src="{% asset_path youtube-btn.svg %}"  alt="{{ post.alt }}" class="play-btn">
              <img src="{{ post.img }}" alt="{{ post.alt }}">
              </a>
          </div>
        </div>
        </li>
      {% endfor %}
    </ul>
  </div>
  <!-- END COLUMN TWO -->
