
<div class="side-container">
<h3><a href="http://news.ucsc.edu/2015/04/50th-alumni-weekend-feature-story.html?utm_source=aw-2015sidebar&utm_medium=web&utm_campaign=aw-2015">An Alumni Weekend to remember</a></h3>
<a href="http://news.ucsc.edu/2015/04/50th-alumni-weekend-feature-story.html?utm_source=aw-2015sidebar&utm_medium=web&utm_campaign=aw-2015">{% img /css/assets/images/aw-2015/kissing-banana-slug.jpg "Alumni Kissing Banana Slug ballons" "Alumni Kissing Banana Slug ballons" %}</a>
Record-breaking crowd of alumni celebrate UC Santa Cruz's 50th anniversary by coming back to campus for talks, tours, good food, and good company. <a href="http://news.ucsc.edu/2015/04/50th-alumni-weekend-feature-story.html?utm_source=aw-2015sidebar&utm_medium=web&utm_campaign=aw-2015">Read about</a> this year's weekend and consider coming for next year’s.
</div>
<div class="side-container">
<h3><a href="http://stayconnected.ucsc.edu">Stay Connected</a></h3>
<a href="http://stayconnected.ucsc.edu">{% img /css/assets/images/stayconnected.jpg "Stay Connected"  "Stay Connected" %}</a>
Stay Connected is an important part of being 100% Banana Slug! <a href="http://stayconnected.ucsc.edu">Get Connected!</a>
</div>
<div class="side-container">
<h3><a href="http://stayconnected.ucsc.edu">Special Events Office</a></h3>
<p>
  UC Santa Cruz<br />
  2155 Delaware Avenue<br />
  Santa Cruz, CA 95060<br />
  Email: <a href="mailto:specialevents@ucsc.edu">specialevents@ucsc.edu</a> <br />
  Phone: 831.459.5003
</p>
</div>