<div class="side-container">
	<a href="https://securelb.imodules.com/s/1069/index.aspx?sid=1069&gid=1&pgid=1723&cid=3246" class="btn" target="_blank">REGISTER NOW</a>
</div>
<div class="side-container">
<h3><a href="/events.html">Featured Events</a></h3>
<ul class="post-list">
      <li>
        <span class="post-meta event-date-sidebar">Apr<br/ >25</span>
        <a class="post-link-sidebar" href="https://events.ucsc.edu/event/2822">{% img /css/assets/images/aw-2015/events/lunch-small.jpg "Banana Slug Lunch: Farm Fresh, Family Style" "Banana Slug Lunch: Farm Fresh, Family Style" %}Banana Slug Lunch: Farm Fresh, Family Style</a>
      </li>

      <li>
        <span class="post-meta event-date-sidebar">Apr<br/ >24</span>
        <a class="post-link-sidebar" href="https://events.ucsc.edu/event/2691">{% img /css/assets/images/aw-2015/events/anewwild-small.jpg "True Originals: A NEW WILD: Saving Nature in a Human-Dominated World" "True Originals: A NEW WILD: Saving Nature in a Human-Dominated World" %}True Originals: A NEW WILD: Saving Nature in a Human-Dominated World</a>
      </li>
      <li>
        <span class="post-meta event-date-sidebar">Apr<br/ >25</span>
        <a class="post-link-sidebar" href="https://events.ucsc.edu/event/2830">{% img /css/assets/images/aw-2015/events/wine-reception-small.jpg "Alumni Wine Reception: Sunset and Wine" "Alumni Wine Reception: Sunset and Wine" %}Alumni Wine Reception: Sunset and Wine</a>
      </li>
      <li>
        <span class="post-meta event-date-sidebar">Apr<br/ >25</span>
        <a class="post-link-sidebar" href="https://events.ucsc.edu/event/2818">{% img /css/assets/images/aw-2015/events/comedy-film-small.jpg "True Originals: Escapist Comedy versus Social Comedy in American Film with filmmakers Lindsay Doran and Ron Yerxa" "True Originals: Escapist Comedy versus Social Comedy in American Film with filmmakers Lindsay Doran and Ron Yerxa" %}True Originals: Escapist Comedy versus Social Comedy in American Film with filmmakers Lindsay Doran and Ron Yerxa</a>
      </li>
      <li>
        <span class="post-meta event-date-sidebar">Apr<br/ >25</span>
        <div class="post-link-sidebar">{% img /css/assets/images/aw-2015/events/teach-in-small.jpg "True Originals: Escapist Comedy versus Social Comedy in American Film with filmmakers Lindsay Doran and Ron Yerxa" "True Originals: Escapist Comedy versus Social Comedy in American Film with filmmakers Lindsay Doran and Ron Yerxa" %}Teach-Ins featuring <a href="https://events.ucsc.edu/event/2826">Bettina Aptheker</a> & <a href="https://events.ucsc.edu/event/2825">Craig Haney</a></div>
      </li>
      <div class="clear"></div>
    
  </ul>
  <p class="float-right"><a href="/alumniweekend2015/events.html">» See more Alumni Weekend events</a></p>
</div>

<div class="side-container">
<h3><a href="/alumniweekend2015/beachboardwalk.html">Exclusive Boardwalk Discount</a></h3>
<a href="/alumniweekend2015/beachboardwalk.html">{% img /css/assets/images/aw-2015/santa_cruz_beach_boardwalk_logo.svg "Santa Cruz Beach Boardwalk" "Santa Cruz Beach Boardwalk" %}</a>
Santa Cruz Beach Boardwalk during Alumni Weekend with exclusive discounts arranged just for UC Santa Cruz alumni. <a href="/alumniweekend2015/beachboardwalk.html">More Info</a>
</div>

<div class="side-container">
<h3><a href="/alumniweekend2015/aw-volunteers.html">Volunteer Opportunities</a></h3>
<a href="/alumniweekend2015/aw-volunteers.html">{% img /css/assets/images/aw-2015/reunion-volunteer.jpg "Reunion Volunteers" "Reunion Volunteers" %}</a>
Alumni Weekend and reunion celebrations are more lively, fun and inspiring if your classmates come back to celebrate with you. <a href="/alumniweekend2015/aw-volunteers.html">Go Slugs!!</a>
</div>

<div class="side-container">
<h3><a href="http://stayconnected.ucsc.edu">Stay Connected</a></h3>
<a href="http://stayconnected.ucsc.edu">{% img /css/assets/images/stayconnected.jpg Stay Connected %}</a>
Stay Connected is an important part of being 100% Banana Slug! <a href="http://stayconnected.ucsc.edu">Get Connected!</a>
</div>
<div class="side-container">
<h3><a href="http://stayconnected.ucsc.edu">Special Events Office</a></h3>
<p>
  UC Santa Cruz<br />
  2155 Delaware Avenue<br />
  Santa Cruz, CA 95060<br />
  Email: <a href="mailto:specialevents.ucsc.edu">specialevents@ucsc.edu</a> <br />
  Phone: 831.459.5003
</p>
</div>