<div class="side-container">
<h3><a href="http://www.ucsc.edu/visit/index.html">Plan your visit</a></h3>
<a href="http://www.ucsc.edu/visit/index.html"><img src="{% asset_path ucsc-plan-your-visit.jpg %}" alt="Plan Your Visit"></a>
<ul>
	<li><a href="http://www.ucsc.edu/visit/maps-directions.html">Maps & Directions</a></li>
	<li><a href="http://taps.ucsc.edu">Parking and Shuttles</a></li>
	<li><a href="http://www.santacruzca.org/lodg-dine/places-to-stay.php">Hotels</a></li>
</ul>
</div>

<div class="side-container">
<h3><a href="http://news.ucsc.edu/newsletter/">Newsletter</a></h3>
<img src="{% asset_path ucsc-plan-your-visit.jpg %}" alt="Plan Your Visit">
Sign up to UC Santa Cruz monthly newsletter to get the latest update to 50th events. <a href="https://ucsc.wufoo.com/forms/monthly-news-from-uc-santa-cruz/">Subscribe today!</a>
</div>