<div class="side-container">
<h3><a href="http://news.ucsc.edu/newsletter/">Newsletter</a></h3>
<a href="http://news.ucsc.edu/newsletter/">{% img /css/assets/images/slug-enews.jpg Newsletter %}</a>
Sign up to UC Santa Cruz monthly newsletter to get the latest update to 50th events. <a href="https://ucsc.wufoo.com/forms/monthly-news-from-uc-santa-cruz/">Subscribe today!</a>
</div>


<div class="side-container">
<h3><a href="http://stayconnected.ucsc.edu">Stay Connected</a></h3>
<a href="http://stayconnected.ucsc.edu">{% img /css/assets/images/stayconnected.jpg Stay Connected %}</a>
Stay Connected is an important part of being 100% Banana Slug! <a href="http://stayconnected.ucsc.edu">Get Connected!</a>
</div>
<!--
<div class="side-container">
<h3><a href="/exclusive/">Office of the Registrar</a></h3>
<a href="http://stayconnected.ucsc.edu">{% img /css/assets/images/office-registrar-thumb.jpg "Office Registrar" "Office Registrar" %}</a>
Beginning on January 1, 2015 and ending December 31, 2015, every 50th transcript ordered by either a current student or alum of UC Santa Cruz will be free! <a href="/exclusive/">More Information »</a>
</div>
-->