<div class="side-container">
<h3><a href="/events-recap.html">Events Recap</a></h3>
  <a href="/events-recap.html">{% img img-full /css/assets/images/events-recap.jpg "Photo of Kick-off event" "Photo of Kick-off event" %}</a>
  <p>The party is not over, but you can see what you missed so far! <a href="/events-recap.html">» See past events</a></p>
</div>

<div class="side-container">
<h3><a href="/ucsc50.html">♯ucsc50</a></h3>
<a href="/ucsc50.html">{% img full-size /css/assets/images/ucsc50-thumb.jpg "#ucsc50" "#ucsc50" %}</a>
See what is happening on social media channels. <a href="/ucsc50.html">Join the conversation.</a>
</div>

<div class="side-container">
<h3><a href="http://slugstore.ucsc.edu/ePOS?this_category=315&store=721&level1_category=315&form=shared3%2fgm%2fmain.html&design=721">50th souvenirs</a></h3>
<a href="http://slugstore.ucsc.edu/ePOS?this_category=315&store=721&level1_category=315&form=shared3%2fgm%2fmain.html&design=721">{% img full-size /css/assets/images/cup-baytree.jpg "50th souvenirs" "50th souvenirs" %}</a>
Get your limited edition 50th souvenirs. <a href="http://slugstore.ucsc.edu/ePOS?this_category=315&store=721&level1_category=315&form=shared3%2fgm%2fmain.html&design=721">Visit Bay Tree Bookstore</a>
</div>


<div class="side-container">
<h3><a href="http://news.ucsc.edu/newsletter/">Newsletter</a></h3>
<a href="http://news.ucsc.edu/newsletter/">{% img /css/assets/images/slug-enews.jpg Newsletter %}</a>
Sign up to UC Santa Cruz monthly newsletter to get the latest update to 50th events. <a href="https://ucsc.wufoo.com/forms/monthly-news-from-uc-santa-cruz/">Subscribe today!</a>
</div>


<div class="side-container">
<h3><a href="http://stayconnected.ucsc.edu">Stay Connected</a></h3>
<a href="http://stayconnected.ucsc.edu">{% img /css/assets/images/stayconnected.jpg Stay Connected %}</a>
Stay Connected is an important part of being 100% Banana Slug! <a href="http://stayconnected.ucsc.edu">Get Connected!</a>
</div>
