<!--SLIDER JS-->
<script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.min.js">\x3C/script>')</script>
 <script defer src="/js/jquery.flexslider.js"></script>

 <script type="text/javascript">
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
  <script src="/js/jquery.easing.js"></script>
  <script src="/js/jquery.mousewheel.js"></script>
  <!-- TEST -->
<!--END SLIDER JS-->