<div class="footer-container">
	<div class="container">
  		<div class="col-one">
  		<h4>ANNIVERSARY COMMITTEES</h4>
        <ul>
          <li>50<sup>th</sup> Anniversary Leadership Committee: View Members »</li>
          <li>Campus Coordinating Committee: View Members »</li>
        </ul>
  		</div>
  		<div class="col-two">
  		<h4>RESOURCES</h4>
  		<ul>
  			<li>Images Courtesy of <a href="http://library.ucsc.edu/speccoll/collections-and-archives">UC Santa Cruz Collections</a></li>
  			<li>Press Kit</li>
  			<li>Tool Kit</li>
  		</ul>
  		</div>
  		<div class="col-three">
  		<h4>CONTACT US</h4>
  		</div>
	</div>
</div>