<div class="side-container">
	<a href="https://securelb.imodules.com/s/1069/index.aspx?sid=1069&gid=1&pgid=1723&cid=3246" class="btn" target="_blank">REGISTER NOW</a>
</div>

<div class="side-container">
<h3><a href="#">Master of Ceremony</a></h3>
<strong>Kathryn Sullivan</strong>
<p>Dynamic speaker Kathryn Sullivan is a former astronaut who now heads the National Oceanic and Atmospheric Administration (NOAA).</p>
</div>


<div class="side-container">
<h3><a href="http://stayconnected.ucsc.edu">Stay Connected</a></h3>
<a href="http://stayconnected.ucsc.edu">{% img /css/assets/images/stayconnected.jpg Stay Connected %}</a>
Stay Connected is an important part of being 100% Banana Slug! <a href="http://stayconnected.ucsc.edu">Get Connected!</a>
</div>
<div class="side-container">
<h3><a href="http://stayconnected.ucsc.edu">Special Events Office</a></h3>
<p>
  UC Santa Cruz<br />
  2155 Delaware Avenue<br />
  Santa Cruz, CA 95060<br />
  Email: <a href="mailto:specialevents.ucsc.edu">specialevents@ucsc.edu</a> <br />
  Phone: 831.459.5003
</p>
</div>