/**
 * Site header
 */
 body, html {
    background: $ucsc-light-blue;
    font-family: $font-family-sans-serif;
    height: 100%;
 }
 .black-background {
    background: $ucsc-black !important;
 }
 a, a:active {
    color: $ucsc-light-yellow;
    text-decoration: none;
    &:hover {
    text-decoration: underline;
    }
 }
 
 h1, h2, h3, h4, h5 {
    color: $ucsc-white;
    font-weight: 300;
 }
 h1 {
    font-size: $font-size-h1;
    line-height: 1em;
    padding: 0 .25em 0 .25em;
    @include media ($tablet){
        margin: .25em 0 .25em 0;
    }
    @include media($desktop) {
        margin: 0 0 .25em 0;
    }
 }
 h2 {
    font-size: $font-size-h2
 }
 h3 {
    font-size: $font-size-h3
 }
 h4 {
    font-size: $font-size-h4
 }
 h5 {
    font-size: $font-size-h5
 }
 h6 {
    font-size: $font-size-h6
 }
 hr {
    padding: 0;
    border: none;
    border-top: medium double $ucsc-green;
    color: $ucsc-green;
    text-align: center;
    margin: 2em 0 2em 0;
}
hr :after {
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
 .clear {
    display: block;
    @include span-columns(12);
    clear: both;
    float: none;
 }
 form {
    width: auto;
    ::-webkit-input-placeholder {
        color: $ucsc-white;
    }

    :-moz-placeholder { /* Firefox 18- */
        color: $ucsc-white;  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
        color: $ucsc-white;  
    }

    :-ms-input-placeholder {  
        color: $ucsc-white;  
    }
 }
 
 .container {
        display: block;
        @include outer-container;
}
 section.header, section.front-promo, section.content {
    width: 100%;
    display:block;
 }
 section.header {
        .container {
            height: 6.875em;
        }
        .logo {
            display: block;
            background: url("assets/images/logo.svg") no-repeat bottom left;
            height: 6.875em;
            overflow: auto;
            text-indent: -9000px;
            background-size: 22.813em;
            @include media ($mobile) {
                @include span-columns(12);
                background-size: 20em;
            }
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(4 of 12);
            }
        }
        .search-social {
            @include span-columns(8 of 12);
            ul {
                    display: block;
                    list-style-type: none;
                }
            li {
                    display: block; 
                    margin: 0 0 0 .25em;                 
                    //@include media ($tablet){
                       // width: 1.25em;
                       // height: 1.25em;
                        // float: right;
                        //margin: 0 0 0 .35em;
                    //}
            a.facebook, a.facebook:active {
                    background: url("assets/images/facebook.svg") no-repeat center center;
                    @include social-btn;
                }
            a.facebook:hover{
                    background: url("assets/images/facebook_ovr.svg") no-repeat center center;
                    @include social-btn;
                    
                }
            a.twitter, a.twiter:active {
                    background: url("assets/images/twitter.svg") no-repeat center center;
                    @include social-btn;
                }
            a.twitter:hover{
                    background: url("assets/images/twitter_ovr.svg") no-repeat center center;
                    @include social-btn;
                    
                }
            a.instagram, a.instagram:active {
                    background: url("assets/images/instagram.svg") no-repeat center center;
                    @include social-btn;
                }
            a.instagram:hover{
                    background: url("assets/images/instagram_ovr.svg") no-repeat center center;
                    @include social-btn;
                }
            a.youtube, a.youtube:active{
                    background: url("assets/images/youtube.svg") no-repeat center center;
                    @include social-btn;
                    
                }
            a.youtube:hover{
                    background: url("assets/images/youtube_ovr.svg") no-repeat center center;
                    @include social-btn;
                }
            a.linkedin, a.linkedin:active{
                    background: url("assets/images/linkedin.svg") no-repeat center center;
                    @include social-btn;
                }
            a.linkedin:hover{
                    background: url("assets/images/linkedin_ovr.svg") no-repeat center center;
                    @include social-btn;
                }
            }
            form {
                display: block;
                float: right;
                input {
                    @include border-radius(5px);
                    border: 0;
                    display: block;
                    padding: 4px;
                    margin: 1em 0 0 1em;
                    color: $ucsc-white;
                    background-color: $ucsc-yellow;
                    -webkit-appearance: none;
                }
                ::-webkit-input-placeholder {
                    color: $ucsc-white;
                }

                :-moz-placeholder { /* Firefox 18- */
                    color: $ucsc-white;  
                }

                ::-moz-placeholder {  /* Firefox 19+ */
                    color: $ucsc-white;  
                }

                :-ms-input-placeholder {  
                    color: $ucsc-white;  
                }
                @include media ($tablet-max){
                        float: right;
                        margin: 0 .5em 0 0;
                    }
            }
            @include media ($mobile) {
                @include span-columns(12);
            }
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(8 of 12);
                @include omega();
            }
    }
    .nav {
        @include span-columns(8);
        border-bottom: 1px solid $ucsc-white;
        padding-top: 3.35em;
        /*Strip the ul of padding and list styling*/
            ul {
                list-style-type:none;
                margin:0;
                padding:0;
            }

            /*Create a horizontal list with spacing*/
            li {
                display:inline-block;
                float: left;
                margin-right: 1px;
            
            }

            /*Style for menu links*/
            li a {
                display:block;
                margin: 0 2.85em 0 0;
                color: $ucsc-yellow;
                font-size: $font-size-base;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;
            }
            li:last-child  a{
                margin: 0;
            }

            /*Hover state for top level links*/
            li:hover a {
                color: $ucsc-white;
            }

            /*Style for dropdown links*/
            li:hover ul a {
                background: #f3f3f3;
                color: #2f3036;
                height: 40px;
                line-height: 40px;
            }

            /*Hover state for dropdown links*/
            li:hover ul a:hover {
                background: #19c589;
                color: #fff;
            }

            /*Hide dropdown links until they are needed*/
            li ul {
                display: none;
            }

            /*Make dropdown links vertical*/
            li ul li {
                display: block;
                float: none;
            }

            /*Prevent text wrapping*/
            li ul li a {
                width: auto;
                min-width: 6.20em;
                padding: 0 20px;
            }

            /*Display the dropdown on hover*/
            ul li a:hover + .hidden, .hidden:hover {
                display: block;
            }

            /*Style 'show menu' label button and hide it by default*/
            .show-menu {
                text-decoration: none;
                color: $ucsc-blue;
                background: $ucsc-yellow;
                font-size: $font-size-h3;
                text-align: center;
                padding: 10px 0;
                display: none;
            }

            /*Hide checkbox*/
            input[type=checkbox]{
                display: none;
            }

            /*Show menu when invisible checkbox is checked*/
            input[type=checkbox]:checked ~ #menu{
                display: block;
                position: absolute;
            }

            /*Responsive Styles*/

            @include media ($tablet-max){
                /*Make dropdown links appear inline*/
                ul {
                    position: static;
                    display: none;
                }
                /*Create vertical spacing*/
                li {
                    margin-bottom: 0px;
                }
                /*Make all menu links full width*/
                ul li, li a {
                    width: 100%;
                    @include background-opacity ($ucsc-white, 1);
                    padding: .25em;
                    text-align: center;
                    color: $ucsc-blue;
                }
                ul li, li a:hover {
                    color: $ucsc-red;
                }
                /*Display 'show menu' link*/
                .show-menu {
                    display:block;
                }
            }
        @include media ($mobile) {
            @include span-columns(12);
        }
        @include media ($portrait) {
            @include span-columns(12);
        }
        @include media ($tablet) {
            @include span-columns(12);
        }
        @include media ($desktop) {
            width: auto;
            @include span-columns(7);
            @include shift (1);
        }
    }
    // SECTION HEADER //
    @include media ($mobile) {
          position: absolute;
          z-index: 2;
        }
     @include media ($portrait) {
          position: absolute;
          z-index: 2;
        }
     @include media ($tablet) {
          position: absolute;
          z-index: 2;
        }
    @include media ($desktop) {
          position: absolute;
          z-index: 1;  
        }
 }

section.search-results {
    display: block;
    @include span-columns(12);
}

section.front-promo {
    color: $ucsc-white;
    text-align: center;
    position: absolute;
    img {
        padding-bottom: .75em;
    }
    .left-box {
        @include border-radius(0.313em);
        display: block;
        @include media ($tablet) {
            @include background-opacity ($ucsc-light-blue, 0);
            @include span-columns(12);
        }
        @include media ($desktop) {
            @include background-opacity ($ucsc-light-blue, .95);
            @include span-columns(4 of 12);
        }
    }
    .middle-box {
        @include border-radius(0.313em);
        display: block;
        @include media ($tablet) {
            @include background-opacity ($ucsc-light-blue, 0);
            @include span-columns(12);
        }
        @include media ($desktop) {
            @include background-opacity ($ucsc-light-blue, .95);
            @include span-columns(4 of 12);
        }
    }
    .right-box {
        @include border-radius(0.313em);
        display: block;
        @include media ($tablet) {
            @include background-opacity ($ucsc-light-blue, 0);
            @include span-columns(12);
        }
        @include media ($desktop) {
            @include background-opacity ($ucsc-light-blue, .95);
            @include span-columns(4 of 12);
            
        }
    }
    h1 {
        margin: .5em 0 .5em 0;
    }
    @include media ($mobile) {
        top: 17em;
    }
    @include media ($portrait) {
        top: 17em;
    }
    @include media ($tablet) {
        top: 17em;
    }
    @include media ($desktop) {
        top: 75%;
        left: 0;
    }
}
//SUBPAGE//
section.content {
    
    color: $ucsc-white;
    position: absolute;
        // TWO COLUMNS //

        .left-column {
            display: inline-block;
            padding: .5em;
            @include media ($mobile) {
                @include span-columns(12);
            }
            @include media ($portrait) {
                @include span-columns(12);
            }
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(8 of 12);
            }
        }
        .right-column {
            display: inline-block;
            padding: .5em;
            .side-container {
                @include span-columns(12);
                display: block;
                margin-bottom: 1.5em;
                .post-list {
                    margin: 0;
                    li {
                        margin: .25em 0 .25em 0;
                        border-bottom: 1px dotted rgba(255, 255, 255, .5)
                    }
                }
                h3 {
                    display: block;
                    text-transform: uppercase;
                    padding-bottom: .25em;
                    border-bottom: .1em solid $ucsc-yellow;
                    a, a:active, a:hover {
                    text-decoration: none;
                    }
                }
                img {
                    margin-bottom: .5em;
                    @include span-columns(4);
                    float: right;
                    border: .15em solid $ucsc-yellow;
                    margin-left: .35em;
                }
                ul {
                    margin-left: 1.25em;
                }

            }
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(4 of 12);
            }
        }
        // END TWO COLUMNS //
        .single-column {
            display: block;
            padding: .5em;
            @include span-columns(12);
        }
        //END SINGLE COLUMN
        .column-one {
            display: block;
            padding: .5em;
            @include h3-content;
            @include h4-content;
            @include media($tablet){
                @include span-columns(12); 
            }
            @include media($desktop){
                @include span-columns(4.5);
            }
        }
        .column-two {
            display: block;
            padding: .5em;
            @include h3-content;
            @include h4-content;
            @include media($tablet){
                @include span-columns(12); 
            }
            @include media($desktop){
                @include span-columns(4.5); 
            }
        }
        .column-three {
            display: block;
            padding: .5em;
            @include h3-content;
            @include h4-content;
            @include media($tablet){
                @include span-columns(12); 
            }
            @include media($desktop){
                @include span-columns(3); 
            }
        }
        .left-half {
            display: block;
            padding: .5em;
            @include media($tablet){
                @include span-columns(12); 
            }
            @include media($desktop){
                @include span-columns(6);
            }
        }
        .right-half {
            display: block;
            padding: .5em;
            @include media($tablet){
                @include span-columns(12); 
            }
            @include media($desktop){
                @include span-columns(6);
            }
        }
        
        //END FOUR COLUMN
    // SECTION RESPONSIVE
    @include media ($mobile){
        margin: 16em 0 0 0; // space skip header //
    }
    @include media ($portrait){
        margin: 16em 0 0 0; // space skip header //
    }
    @include media ($tablet){
        margin: 16em 0 0 0; // space skip header //
    }
    @include media ($desktop){
        margin: 10em 0 0 0; // space skip header //
    }
}
input {
    display:block;
    background: $ucsc-yellow;
    color: $ucsc-white;
    padding: .5em;
    -webkit-appearance: none;
    @include border-radius (.35em);
    border: 0;
}

a.give-btn, a.give-btn:active {
    display: block;
    width: 100%;
    max-width: 300px;
    background: $ucsc-red;
    @include border-radius(.35em);
    border-bottom: 1px solid $ucsc-blue;
    padding: .35em;
    text-align: center;
    text-decoration: none;
    font-size: $font-size-h4;
    margin: .35em auto .35em auto;
    clear: both;
}
a.give-btn:hover {
    background: $ucsc-blue;
}

.full-size {
    display: block;
    width: 100%;
}
// EVENTS//
.event-type-host {
    font-weight: 500;
    margin-bottom: 1.5em;
}

.event-content h2 {
    margin-bottom: 0.05em;
    line-height:1.3;
}

.event-date {
    display: block;
    color: $ucsc-green !important;
    text-align: center !important;
    font-size: $font-size-h3;
    line-height: 1em;
    margin: .25em 0;
    text-transform: uppercase;
    font-weight: 500;
    @include span-columns(1.5);
        @include media ($tablet-max){
            @include span-columns(2);
        }
}

.event-date-sidebar {
    display: block;
    color: $ucsc-green !important;
    text-align: center !important;
    font-size: $font-size-h4;
    line-height: 1em;
    margin: .25em 0 .75em;
    text-transform: uppercase;
    font-weight: 500;
    @include span-columns(3);
}

.event-location {
    font-weight: 400;
    font-size: 1.1em;
    display: block;
    margin-bottom: 0.5em;
}

.event-teaser {
    display: block;
    line-height:1.35;
    font-weight:300;
}

.event-image {
    background-color: rgba(255,255,255,0.5);
    padding: 0.3em;
    @include media ($tablet) { 
        float: right;
        margin: 0.25em 0.25em 1em;
    }
}

.ourstories-content {
    display: block;
    color: $ucsc-white;
    text-align: left;
    @include span-columns(12);
    img {
        margin-bottom: 1em;
    }
    @include media ($tablet-max) {
        @include span-columns(12);
    }
    .video-image {
    display: block;
    }
    .play-btn {
        display: block;
        width: 4em;
        position: absolute;
        margin: 10em 0 0 5.5em; 
    }
    .post-meta {
        display: block;
        font-size: $font-size-base;
        color: $ucsc-white;
        margin: 0 0 .75em 0;
    }
}
.float-right {
    display: block;
    float: right;
}

.post-link {
    display: block;
    font-size: 24px;
}

.post-link-sidebar {
    display: block;
    font-size: 1em;
    @include span-columns(8);
}

.event-content {
    display: block;
    color: $ucsc-white;
    text-align: left;
    @include span-columns(10.5);
    img {
        margin-bottom: 1em;
    }
        @include media ($tablet-max) {
            @include span-columns(10);
        }
}
.more-info {
    display: block;
    padding: .35em;
    @include border-line;
    @include span-columns(12);
    float: left;
    margin: .35em 0 .75em;
}
.iframe-youtube {
    display: block;
    width: 100%;
    max-width: 700px;
    height: 394px;
}
.caption{
    display: block;
    padding: .5em;
    margin: 0 .5em .5em;
    font-size: $font-size-base/1.12;
    color: $ucsc-white;
    border-top: 1px solid $ucsc-white;
    border-bottom: 1px solid $ucsc-white;
    clear: both;
    img {
        display: block;
        margin: 0 0 .50em;
        clear: both;
        width: 100%;
        max-width: 800px;
    }
    @include media($mobile){
        @include span-columns(12);
        float: none;
    }
    @include media($portrait){
        @include span-columns(5);
        float: right;
    }
    @include media($tablet){
        @include span-columns(5);
        float: right;
    }
    @include media($desktop){
        @include span-columns(5);
        float: right;
    }
}

//BIG VIDEOJS //
/*  BigVideo Styles 
    You may need to adjust these styles to get this working right in your design. 
*/

/*vjs test*/
.vjs-loading-spinner {
    display:none;
    position:absolute;
    top:50%;
    left:50%;
    font-size:7em;
    line-height:1;
    width:1em;
    height:1em;
    margin-left:-.5em;
    margin-top:-.5em;
    opacity:.75;
    /*-webkit-animation:spin 1.5s infinite linear;-moz-animation:spin 1.5s infinite linear;-o-animation:spin 1.5s infinite linear;animation:spin 1.5s infinite linear*/}
    .vjs-default-skin .vjs-loading-spinner:before{/*content:"\e01e";font-family:VideoJS;*/position:absolute;top:0;left:0;width:1em;height:1em;text-align:center;text-shadow:0 0 .1em #000}
/*end test*/
.video-wrapper {
    display: block;
    top:0;
    width: 100%;
    left: 0;
}
#big-video-wrap{
    overflow:hidden;
    position:fixed;
    width:100%;
    top:0;
    left:0;
    background: $ucsc-blue;
    @include media ($mobile){
        height: 100%;
        background: $ucsc-light-blue;
    }
    @include media ($portrait){
        height: 100%;
        background: $ucsc-light-blue;
    }
    @include media ($tablet){
        height: 100%;
        background: $ucsc-light-blue;
    }
    @include media ($desktop){
        height:85%;
        background: $ucsc-blue url('/css/assets/images/loading_bg.svg') no-repeat;
        background-size: cover;
    }
}
#big-video-vid,#big-video-image{
    position:absolute;
}
#big-video-image {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-opacity: .5;
}
#big-video-control-container{
    position:fixed;
    bottom:0;
    padding:10px;
    width:100%;
    background:rgba(0,0,0,.25);
    -webkit-transition-duration:0.6s;
    -moz-transition-duration:0.6s;
    -ms-transition-duration:0.6s;
    -o-transition-duration:0.6s;
    transition-duration:0.6s;
}
#big-video-control{
    width:100%;
    height:16px;
    position:relative;
}
#big-video-control-middle{
    margin: 0 56px 0 24px;
}
#big-video-control-bar{width:100%;
    height:16px;
    position:relative;
    cursor:pointer;
}
#big-video-control-progress{position:absolute;
    top:7px;
    height:3px;
    width:0%;
    background:#fff;
}
#big-video-control-track{position:absolute;
    top:8px;
    height:1px;
    width:100%;
    background:#fff;
}
#big-video-control-bound-left{
    left:0;
}
#big-video-control-bound-right{
    right:-1px
}
#big-video-control-track .ui-slider-handle {
    opacity:0;
}
#big-video-control-playhead{
    left:30%;
}
#big-video-control-play{
    position:absolute;
    top:0;
    left:0;
    height:16px;
    width:16px;
    background-image:url('bigvideo.png');
}
#big-video-control-timer{position:absolute;
    top:1px;
    right:0;
    color:#fff;
    font-size:11px;
}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{
    position:absolute;
    top:0;
    height:16px;
    width:1px;
    background:#fff;
}
#big-video-control .ui-slider-handle{
    border-left:solid 1px #fff;
    width:16px;
    height:16px;
    position:absolute;
    top:-8px;
}
.transparent{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
}
.vjs-big-play-button{
    display:none !important;
}
.vjs-control-bar {
    display: none;
}
video {
    @include media($mobile){
        top: 0;
    }
    @include media($portrait){
        top: 0;
    }
    @include media($tablet){
        top: 0;
    }
    @include media($desktop){
        top:-15%;
    }
}    
//END BIG VIDEOJS//
.social-share, .article-sharing {
    display: block;
    padding: .5em 0 .5em 0;
    border-top: 1px solid $ucsc-white;
    margin-bottom: 2em;
    a.social-twitter {
        background: url('/css/assets/images/share/twitter.svg') no-repeat;
        @include social-sharing;
    }
    a.social-twitter:hover {
        @include social-sharing-hover;
    }

    a.social-facebook {
        background: url('/css/assets/images/share/facebook.svg') no-repeat;
        @include social-sharing;
    }
    a.social-facebook:hover {
        @include social-sharing-hover;
    }

    a.social-google {
        background: url('/css/assets/images/share/google.svg') no-repeat;
        @include social-sharing;
    }
    a.social-google:hover {
        @include social-sharing-hover;
    }
    a.social-linkedin {
        background: url('/css/assets/images/share/linkedin.svg') no-repeat;
        @include social-sharing;
    }
    a.social-linkedin:hover {
        @include social-sharing-hover;
    }
}

.article-sharing {
    padding: .5em;
    margin: 0 .5em .5em;
    clear: both;
    border-top: 0px;
    @include media($mobile){
        @include span-columns(12);
        float: none;
    }
    @include media($portrait){
        @include span-columns(5);
        float: right;
    }
    @include media($tablet){
        @include span-columns(5);
        float: right;
    }
    @include media($desktop){
        @include span-columns(5);
        float: right;
    }

}

.footer-container {
    border-top: 1px solid $ucsc-blue;
    @include outer-container;
    margin: 2em auto 0 auto;
    text-align: left;
    background-color: $ucsc-light-blue;
    @include border-radius (0.313em);
    .col-one, .col-two, .col-three {
        display: block;
        padding: .75em .5em .75em .5em;
        font-size: $font-size-small;
        @include media ($tablet) {
            @include span-columns(12);
        }
        @include media ($desktop) {
            @include span-columns(4);
        }
        h4 {
            font-weight: 500;
            text-transform: uppercase;
        }
    }
    .copy-rights {
        display: block;
        text-align:center;
        font-size: $font-size-small;
    }

}


// END MY STYLES // 
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    @include span-columns(12);
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $ucsc-white;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 2em;
        @include span-columns (12);
        border-bottom: 1px $ucsc-white dotted;
        clear: both;
    }
}




/**
 * Posts
 */
.post-header {
    /*margin-bottom: $spacing-unit;*/
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
