/**
 * Site header
 */
 body, html {
    background: $ucsc-light-blue;
 }
 a, a:active {
    color: $ucsc-light-yellow;
    text-decoration: none;
    &:hover {
    text-decoration: underline;
    }
 }

 h1, h2, h3, h4, h5 {
    color: $ucsc-white;
    font-weight: 300;
 }
 h1 {
    font-size: $font-size-h1
 }
 h2 {
    font-size: $font-size-h2
 }
 h3 {
    font-size: $font-size-h3
 }
 h4 {
    font-size: $font-size-h4
 }
 h5 {
    font-size: $font-size-h5
 }
 h6 {
    font-size: $font-size-h6
 }
 .clear {
    display: block;
    @include span-columns(12);
    clear: both;
    float: none;
 }
 .container {
        display: block;
        @include outer-container;
}
 section.header, section.front-promo, section.content {
    width: 100%;
    display:block;
 }
 section.header {
        .container {
            height: 6.875em;
        }
        .logo {
            display: block;
            background: url("assets/images/logo.svg") no-repeat bottom left;
            height: 6.875em;
            overflow: auto;
            text-indent: -9000px;
            background-size: 22.813em;
            @include media ($mobile) {
                @include span-columns(12);
                background-size: 20em;
            }
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(4 of 12);
            }
        }
        .search-social {
            @include span-columns(8 of 12);
            ul {
                    display: block;
                    list-style-type: none;
                }
            li {
                    display: block; 
                    margin: 0 0 0 .25em;                 
                    //@include media ($tablet){
                       // width: 1.25em;
                       // height: 1.25em;
                        // float: right;
                        //margin: 0 0 0 .35em;
                    //}
            a.facebook, a.facebook:active {
                    background: url("assets/images/facebook.svg") no-repeat center center;
                    @include social-btn;
                }
            a.facebook:hover{
                    background: url("assets/images/facebook_ovr.svg") no-repeat center center;
                    @include social-btn;
                    
                }
            a.twitter, a.twiter:active {
                    background: url("assets/images/twitter.svg") no-repeat center center;
                    @include social-btn;
                }
            a.twitter:hover{
                    background: url("assets/images/twitter_ovr.svg") no-repeat center center;
                    @include social-btn;
                    
                }
            a.instagram, a.instagram:active {
                    background: url("assets/images/instagram.svg") no-repeat center center;
                    @include social-btn;
                }
            a.instagram:hover{
                    background: url("assets/images/instagram_ovr.svg") no-repeat center center;
                    @include social-btn;
                }
            a.youtube, a.youtube:active{
                    background: url("assets/images/youtube.svg") no-repeat center center;
                    @include social-btn;
                    
                }
            a.youtube:hover{
                    background: url("assets/images/youtube_ovr.svg") no-repeat center center;
                    @include social-btn;
                }
            a.linkedin, a.linkedin:active{
                    background: url("assets/images/linkedin.svg") no-repeat center center;
                    @include social-btn;
                }
            a.linkedin:hover{
                    background: url("assets/images/linkedin_ovr.svg") no-repeat center center;
                    @include social-btn;
                }
            }
            form {
                display: block;
                float: right;
                input {
                    @include border-radius(5px);
                    border: 0;
                    display: block;
                    padding: 4px;
                    margin: .8em 0 0 1em;
                    color: #333;
                }
                @include media ($tablet-max){
                        float: right;
                        margin: 0 .5em 0 0;
                    }
            }
            @include media ($mobile) {
                @include span-columns(12);
            }
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(8 of 12);
                @include omega();
            }
    }
    .nav {
        @include span-columns(8);
        border-bottom: 1px solid $ucsc-white;
        padding-top: 3.35em;
        /*Strip the ul of padding and list styling*/
            ul {
                list-style-type:none;
                margin:0;
                padding:0;
            }

            /*Create a horizontal list with spacing*/
            li {
                display:inline-block;
                float: left;
                margin-right: 1px;
            
            }

            /*Style for menu links*/
            li a {
                display:block;
                margin: 0 2.85em 0 0;
                font-family: $font-family-sans-serif;
                color: $ucsc-yellow;
                font-size: $font-size-base;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;
            }
            li:last-child  a{
                margin: 0;
            }

            /*Hover state for top level links*/
            li:hover a {
                color: $ucsc-white;
            }

            /*Style for dropdown links*/
            li:hover ul a {
                background: #f3f3f3;
                color: #2f3036;
                height: 40px;
                line-height: 40px;
            }

            /*Hover state for dropdown links*/
            li:hover ul a:hover {
                background: #19c589;
                color: #fff;
            }

            /*Hide dropdown links until they are needed*/
            li ul {
                display: none;
            }

            /*Make dropdown links vertical*/
            li ul li {
                display: block;
                float: none;
            }

            /*Prevent text wrapping*/
            li ul li a {
                width: auto;
                min-width: 6.20em;
                padding: 0 20px;
            }

            /*Display the dropdown on hover*/
            ul li a:hover + .hidden, .hidden:hover {
                display: block;
            }

            /*Style 'show menu' label button and hide it by default*/
            .show-menu {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-decoration: none;
                color: $ucsc-blue;
                background: $ucsc-yellow;
                font-size: $font-size-h3;
                text-align: center;
                padding: 10px 0;
                display: none;
            }

            /*Hide checkbox*/
            input[type=checkbox]{
                display: none;
            }

            /*Show menu when invisible checkbox is checked*/
            input[type=checkbox]:checked ~ #menu{
                display: block;
            }

            /*Responsive Styles*/

            @include media ($tablet-max){
                /*Make dropdown links appear inline*/
                ul {
                    position: static;
                    display: none;
                }
                /*Create vertical spacing*/
                li {
                    margin-bottom: 1px;
                }
                /*Make all menu links full width*/
                ul li, li a {
                    width: 100%;
                    background: $ucsc-white;
                    padding: .25em;
                    text-align: center;
                    color: $ucsc-blue;
                }
                ul li, li a:hover {
                    color: $ucsc-red;
                }
                /*Display 'show menu' link*/
                .show-menu {
                    display:block;
                }
            }
        @include media ($mobile) {
            @include span-columns(12);
        }
        @include media ($portrait) {
            @include span-columns(12);
        }
        @include media ($tablet) {
            @include span-columns(12);
        }
        @include media ($desktop) {
            width: auto;
            @include span-columns(7);
            @include shift (1);
        }
    }
    // SECTION HEADER //
     @include media ($tablet) {
          position: none;
        }
    @include media ($desktop) {
          position: absolute;
          z-index: 1;  
        }
 }

.video-background {
    display: block;
    width: auto;
    width: 100%;
    max-height: 800px;
    position: absolute;
    z-index: 0;
    margin: -15em 0;
    
}

section.front-promo {
    bottom: 70em;
    position: absolute;
    color: $ucsc-white;
    text-align: center;
    .left-box {
        @include border-radius-top(0.313em);
        display: block;
        @include background-opacity ($ucsc-light-blue, .8);
        @include media ($tablet) {
            @include span-columns(12);
        }
        @include media ($desktop) {
            @include span-columns(4 of 12);
        }
    }
    .middle-box {
        @include border-radius-top(0.313em);
        display: block;
        @include background-opacity ($ucsc-light-blue, .8);
        @include media ($tablet) {
            @include span-columns(12);
        }
        @include media ($desktop) {
            @include span-columns(4 of 12);
        }
    }
    .right-box {
        @include border-radius-top(0.313em);
        display: block;
        @include background-opacity ($ucsc-light-blue, .8);
        @include media ($tablet) {
            @include span-columns(12);
        }
        @include media ($desktop) {
            @include span-columns(4 of 12);
        }
    }
    h1 {
            margin: .25em 0 .25em 0;
    }
    @include media ($mobile) {
        top: 30em;
    }
    @include media ($portrait) {
        top: 30em;
    }
    @include media ($tablet) {
        top: 50em;
    }
}
//SUBPAGE//
section.content {
    margin: 10em 0 0 0; // space skip header //
    color: $ucsc-white;
        // TWO COLUMNS //

        .left-column {
            display: inline-block;
            padding: .5em;
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(8 of 12);
            }
        }
        .right-column {
            display: inline-block;
            padding: .5em;
            .side-container {
                @include span-columns(12);
                display: block;
                margin-bottom: 1em;
                h3 {
                    display: block;
                    text-transform: uppercase;
                    padding-bottom: .25em;
                    border-bottom: .1em solid $ucsc-yellow;
                    a, a:active, a:hover {
                    text-decoration: none;
                    }
                }
                img {
                    margin-bottom: .5em;
                }
                ul {
                    margin-left: 1.25em;
                }

            }
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(4 of 12);
            }

        }
        // END TWO COLUMNS //
        .single-column {
            display: block;
            padding: .5em;
            @include span-columns(12);
        }
        
    // CONTENT REPONSIVE //
    @include media ($tablet) {
        position: none;
    }
    @include media ($desktop) {
        position: absolute;
        z-index: 1;
    }
}
// EVENTS//
.event-type-host {
    font-weight: 500;
    margin-bottom: 1.5em;
}

.event-date {
    display: block;
    color: $ucsc-green !important;
    text-align: center !important;
    font-size: $font-size-h3;
    line-height: 1em;
    margin: .25em 0;
    text-transform: uppercase;
    font-weight: 500;
    @include span-columns(1.5);
        @include media ($tablet-max){
            @include span-columns(2);
        }
}

.event-content {
    display: block;
    color: $ucsc-white;
    text-align: left;
    @include span-columns(10.5);
    img {
        margin-bottom: 1em;
    }
        @include media ($tablet-max) {
            @include span-columns(10);
        }
}

//BIG VIDEOJS //
/*  BigVideo Styles 
    You may need to adjust these styles to get this working right in your design. 
*/
.video-wrapper {
    display: block;
    top:0;
    width: 100%;
    left: 0;
}
#big-video-wrap{
    overflow:hidden;
    position:fixed;
    height:85%;
    width:100%;
    top:0;
    left:0;
    @include media ($mobile){
        display: none;
    }
    @include media ($portrait){
        display: none;
    }
    @include media ($tablet){
        display: none;
    }
    @include media ($desktop){
        display: block;
    }
}
#big-video-vid,#big-video-image{
    position:absolute;
}
#big-video-control-container{
    position:fixed;
    bottom:0;
    padding:10px;
    width:100%;
    background:rgba(0,0,0,.25);
    -webkit-transition-duration:0.6s;
    -moz-transition-duration:0.6s;
    -ms-transition-duration:0.6s;
    -o-transition-duration:0.6s;
    transition-duration:0.6s;
}
#big-video-control{
    width:100%;
    height:16px;
    position:relative;
}
#big-video-control-middle{
    margin: 0 56px 0 24px;
}
#big-video-control-bar{width:100%;
    height:16px;
    position:relative;
    cursor:pointer;
}
#big-video-control-progress{position:absolute;
    top:7px;
    height:3px;
    width:0%;
    background:#fff;
}
#big-video-control-track{position:absolute;
    top:8px;
    height:1px;
    width:100%;
    background:#fff;
}
#big-video-control-bound-left{
    left:0;
}
#big-video-control-bound-right{
    right:-1px
}
#big-video-control-track .ui-slider-handle {
    opacity:0;
}
#big-video-control-playhead{
    left:30%;
}
#big-video-control-play{
    position:absolute;
    top:0;
    left:0;
    height:16px;
    width:16px;
    background-image:url('bigvideo.png');
}
#big-video-control-timer{position:absolute;
    top:1px;
    right:0;
    color:#fff;
    font-size:11px;
}
#big-video-control-playhead,#big-video-control-bound-left,#big-video-control-bound-right{
    position:absolute;
    top:0;
    height:16px;
    width:1px;
    background:#fff;
}
#big-video-control .ui-slider-handle{
    border-left:solid 1px #fff;
    width:16px;
    height:16px;
    position:absolute;
    top:-8px;
}
.transparent{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
}
.vjs-big-play-button{
    display:none !important;
}
.vjs-control-bar {
    display: none;
}
video {
    top:-15%;
}

//END BIG VIDEOJS//

//SLIDER//

.ei-slider{
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: 500px;
    margin: 0 auto;
}
.ei-slider-loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:999;
    background: rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
    line-height: 400px;
}
.ei-slider-large{
    height: 100%;
    width: 100%;
    position:relative;
    overflow: hidden;
}
.ei-slider-large li{
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.ei-slider-large li img{
    width: 100%;
    height: 500px;
    margin-top: 0;
}
.ei-title{
    position: absolute;
    right: 42%;
    margin-right: 13%;
    top: 45%;
}
.ei-title h2, .ei-title h3{
    text-align: right;
}
.ei-title h2{
    font-size: 40px;
    line-height: 50px;
    font-family: $font-family-sans-serif;
    font-weight: 500;
    color: #f8c325;
}
.ei-title h3{
    font-size: 55px;
    line-height: 70px;
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    color: #fff;
}
.el-title-blue-box {
    display: block;
    padding: .1em;
    background: #00458c;
    background: rgba(0,69,140,.9);
}
.el-title-orange-box {
    display: block;
    padding: .1em;
    margin: .1em 0 .1em 0;
    background:#faa61a;
    background: rgba(250,166,29,.9);
    }
.ei-slider-thumbs{
    height: 13px;
    margin: 0 auto;
    position: relative;
}
.ei-slider-thumbs li{
    position: relative;
    float: left;
    height: 100%;
}
.ei-slider-thumbs li.ei-slider-element{
    top: 0px;
    left: 0px;
    position: absolute;
    height: 100%;
    z-index: 10;
    text-indent: -9000px;
    background: #00458c;
    background: rgba(0,69,140,0.9);
    width: 100%;
    
}
.ei-slider-thumbs li a{
    display: block;
    text-indent: -9000px;
    background: #f8c325;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    -o-transition: background 0.2s ease;
    -ms-transition: background 0.2s ease;
    transition: background 0.2s ease;
}
.ei-slider-thumbs li a:hover{
    background-color: #f0f0f0;
}
.ei-slider-thumbs li img{
    position: absolute;
    bottom: 50px;
    opacity: 0;
    z-index: 999;
    max-width: 100%;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-box-reflect: 
        below 0px -webkit-gradient(
            linear, 
            left top, 
            left bottom, 
            from(transparent), 
            color-stop(50%, transparent), 
            to(rgba(255,255,255,0.3))
            );
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.ei-slider-thumbs li:hover img{
    opacity: 1;
    bottom: 13px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
@media screen and (max-width: 830px) {
    .ei-title{
        position: absolute;
        right: 0px;
        margin-right: 0px;
        width: 100%;
        text-align: center;
        top: auto;
        bottom: 10px;
        background: #fff;
        background: rgba(255,255,255,0.9);
        padding: 5px 0;
    }
    .ei-title h2, .ei-title h3{
        text-align: center;
    }
    .ei-title h2{
        font-size: 20px;
        line-height: 24px;
    }
    .ei-title h3{
        font-size: 30px;
        line-height: 40px;
    }
}

//END SLIDER//

// END MY STYLES // 
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: 2em;
        @include span-columns (12);
        border-bottom: 1px $ucsc-white dotted;
        clear: both;
    }
}

.post-meta {
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    /*margin-bottom: $spacing-unit;*/
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
