/**
 * Site header
 */
 body, html {
    background: $ucsc-blue;
 }
 h1 {
    @include h1;
 }
 section.header, section.front-promo, section.content {
    width: 100%;
    z-index: 1;
    display:block;
    .container {
        display: block;
        @include outer-container;
    }
 }
 section.header {
    position: absolute;
        .container {
            height: 6.875em;
        }
        .logo {
            display: block;
            background: url("assets/images/logo.svg") no-repeat bottom left;
            height: 6.875em;
            overflow: auto;
            text-indent: -9000px;
            background-size: 22.813em;
            @include media ($mobile) {
                @include span-columns(12);
                background-size: 20em;
            }
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(4 of 12);
            }
        }
        .search-social {
            @include span-columns(8 of 12);
            ul {
                    display: block;
                    list-style-type: none;
                }
            li {
                    display: block; 
                    margin: 0 0 0 .25em;                 
                    //@include media ($tablet){
                       // width: 1.25em;
                       // height: 1.25em;
                        // float: right;
                        //margin: 0 0 0 .35em;
                    //}
            a.facebook, a.facebook:active {
                    background: url("assets/images/facebook.svg") no-repeat center center;
                    @include social-btn;
                }
            a.facebook:hover{
                    background: url("assets/images/facebook_ovr.svg") no-repeat center center;
                    @include social-btn;
                    
                }
            a.twitter, a.twiter:active {
                    background: url("assets/images/twitter.svg") no-repeat center center;
                    @include social-btn;
                }
            a.twitter:hover{
                    background: url("assets/images/twitter_ovr.svg") no-repeat center center;
                    @include social-btn;
                    
                }
            a.instagram, a.instagram:active {
                    background: url("assets/images/instagram.svg") no-repeat center center;
                    @include social-btn;
                }
            a.instagram:hover{
                    background: url("assets/images/instagram_ovr.svg") no-repeat center center;
                    @include social-btn;
                }
            a.youtube, a.youtube:active{
                    background: url("assets/images/youtube.svg") no-repeat center center;
                    @include social-btn;
                    
                }
            a.youtube:hover{
                    background: url("assets/images/youtube_ovr.svg") no-repeat center center;
                    @include social-btn;
                }
            a.linkedin, a.linkedin:active{
                    background: url("assets/images/linkedin.svg") no-repeat center center;
                    @include social-btn;
                }
            a.linkedin:hover{
                    background: url("assets/images/linkedin_ovr.svg") no-repeat center center;
                    @include social-btn;
                }
            }
            form {
                display: block;
                float: right;
                input {
                    @include border-radius(5px);
                    border: 0;
                    display: block;
                    padding: 4px;
                    margin: .8em 0 0 1em;
                    color: #333;
                }
                @include media ($tablet-max){
                        float: right;
                        margin: 0 .5em 0 0;
                    }
            }
            @include media ($mobile) {
                @include span-columns(12);
            }
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(8 of 12);
                @include omega();
            }
    }
    .nav {
        @include span-columns(8);
        border-bottom: 1px solid $ucsc-yellow;
        padding-top: 2.25em;
        /*Strip the ul of padding and list styling*/
            ul {
                list-style-type:none;
                margin:0;
                padding:0;
            }

            /*Create a horizontal list with spacing*/
            li {
                display:inline-block;
                float: left;
                margin-right: 1px;
            
            }

            /*Style for menu links*/
            li a {
                display:block;
                margin: 0 2.75em 0 0;
                font-family: $font-family-sans-serif;
                color: #fff;
                font-size: $font-size-base;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 500;
            }
            li:last-child  a{
                margin: 0;
            }

            /*Hover state for top level links*/
            li:hover a {
                color: $ucsc-yellow;
            }

            /*Style for dropdown links*/
            li:hover ul a {
                background: #f3f3f3;
                color: #2f3036;
                height: 40px;
                line-height: 40px;
            }

            /*Hover state for dropdown links*/
            li:hover ul a:hover {
                background: #19c589;
                color: #fff;
            }

            /*Hide dropdown links until they are needed*/
            li ul {
                display: none;
            }

            /*Make dropdown links vertical*/
            li ul li {
                display: block;
                float: none;
            }

            /*Prevent text wrapping*/
            li ul li a {
                width: auto;
                min-width: 6.20em;
                padding: 0 20px;
            }

            /*Display the dropdown on hover*/
            ul li a:hover + .hidden, .hidden:hover {
                display: block;
            }

            /*Style 'show menu' label button and hide it by default*/
            .show-menu {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-decoration: none;
                color: $ucsc-blue;
                background: $ucsc-yellow;
                font-size: $font-size-h3;
                text-align: center;
                padding: 10px 0;
                display: none;
            }

            /*Hide checkbox*/
            input[type=checkbox]{
                display: none;
            }

            /*Show menu when invisible checkbox is checked*/
            input[type=checkbox]:checked ~ #menu{
                display: block;
            }

            /*Responsive Styles*/

            @include media ($tablet-max){
                /*Make dropdown links appear inline*/
                ul {
                    position: static;
                    display: none;
                }
                /*Create vertical spacing*/
                li {
                    margin-bottom: 1px;
                }
                /*Make all menu links full width*/
                ul li, li a {
                    width: 100%;
                    background: $ucsc-white;
                    padding: .25em;
                    text-align: center;
                    color: $ucsc-blue;
                }
                ul li, li a:hover {
                    color: $ucsc-red;
                }
                /*Display 'show menu' link*/
                .show-menu {
                    display:block;
                }
            }
        @include media ($mobile) {
            @include span-columns(12);
        }
        @include media ($portrait) {
            @include span-columns(12);
        }
        @include media ($tablet) {
            @include span-columns(12);
        }
        @include media ($desktop) {
            @include span-columns(7);
            @include shift (1);
        }
    }
 }

.video-background {
    display: block;
    width: auto;
    width: 100%;
    max-height: 800px;
    position: absolute;
    z-index: 0;
    margin: -15em 0;
    video {
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        @include media ($tablet-max) {
            display: none;
        }
    }
}

section.front-promo {
    bottom: 60em;
    position: absolute;
    color: $ucsc-white;
    text-align: center;
    .left-box {
        @include border-radius-top(0.313em);
        display: block;
        @include background-opacity ($ucsc-blue, .8);
        @include media ($tablet) {
            @include span-columns(12);
        }
        @include media ($desktop) {
            @include span-columns(4 of 12);
        }
    }
    .middle-box {
        @include border-radius-top(0.313em);
        display: block;
        @include background-opacity ($ucsc-blue, .8);
        @include media ($tablet) {
            @include span-columns(12);
        }
        @include media ($desktop) {
            @include span-columns(4 of 12);
        }
    }
    .right-box {
        @include border-radius-top(0.313em);
        display: block;
        @include background-opacity ($ucsc-blue, .8);
        @include media ($tablet) {
            @include span-columns(12);
        }
        @include media ($desktop) {
            @include span-columns(4 of 12);
        }
    }
    @include media ($mobile) {
        top: 30em;
    }
    @include media ($portrait) {
        top: 30em;
    }
    @include media ($tablet) {
        top: 50em;
    }
}
//SUBPAGE//
section.content {
    margin: 8em 0 0 0; // space skip header //
    position: absolute;
        // TWO COLUMNS //
        .left-column {
            display: block;
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(8 of 12);
            }
        .right-column {
            display: block;
            @include media ($tablet) {
                @include span-columns(12);
            }
            @include media ($desktop) {
                @include span-columns(4 of 12);
                @include shift (1);
            }
        }
        // END TWO COLUMNS //
    }
}


// END MY STYLES // 
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
