@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin border-radius-top($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  	-moz-border-top-left-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-left-radius: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-left-radius: $radius;
}

@mixin h1 {
  font-weight: 200;
  font-size: $font-size-h1;
  margin: .25em;
  padding: .25m;
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}
