@mixin background-cover{
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin background-size($width, $height) {
  background-size: $width $height;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  -webkit-opacity: $opacity;
  -moz-opacity: $opacity;
}

@mixin border-line {
  border-top: 1px solid $ucsc-white;
  border-bottom: 1px solid $ucsc-white;
}

@mixin border-radius-top($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  	-moz-border-top-left-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-left-radius: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-left-radius: $radius;
}

@mixin border-radius-bottom($radius) {
  -webkit-border-bottom-left-radius: $radius;
  -webkit-border-bottom-right-radius: $radius;
    -moz-border-bottom-left-radius: $radius;
     -moz-border-bottom-right-radius: $radius;
      -ms-border-bottom-left-radius: $radius;
      -ms-border-bottom-right-radius: $radius;
          border-bottom-left-radius: $radius;
}

@mixin h1 {
  font-weight: 200;
  font-size: $font-size-h1;
  margin: .25em;
  padding: .25m;
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin social-sharing {
    display: block;
    width: 2em;
    height: 2em;
    text-decoration: none;
    background-size: 4em;
    text-overflow: auto;
    text-indent: -9000px;
    float: left;
    margin: 0 .35em;
}

@mixin social-sharing-hover {
    background-position: -2em;
}

@mixin social-btn{
      width: 1.5em;
      height: 1.5em;
      float: right;
      margin: .5em 0 0 .25em;
      display: block;
      overflow: auto;
      text-indent: -9000px;
      background-size: 1.5em 1.5em;
      @include media($mobile) {
        float: right;
        width: 1.5em;
        height: 1.5em;
        margin: .45em 0 0 0;
        background-size: 1.25em 1.25em;
      }
  }

  @mixin h3-content {
    h3 {
        text-transform: uppercase;
        display: block;
        padding: 0;
        border-bottom: .15em solid $ucsc-white;
        margin: 0 0 .75em 0;
        @include span-columns(12);
    }
  }

@mixin h4-content {
    h4 {
        display: block;
        padding: 0;
        margin: 0 0 .5em 0;
        @include span-columns(12);
    }
  }