@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin background-size($width, $height) {
  background-size: $width $height;
}

@mixin border-radius-top($radius) {
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  	-moz-border-top-left-radius: $radius;
     -moz-border-top-right-radius: $radius;
      -ms-border-top-left-radius: $radius;
      -ms-border-top-right-radius: $radius;
          border-top-left-radius: $radius;
}

@mixin h1 {
  font-weight: 200;
  font-size: $font-size-h1;
  margin: .25em;
  padding: .25m;
}

@mixin background-opacity($color, $opacity: 0.3) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin social-btn{
      width: 1.5em;
      height: 1.5em;
      float: right;
      margin: .5em 0 0 .25em;
      display: block;
      overflow: auto;
      text-indent: -9000px;
      background-size: 1.5em 1.5em;
      @include media($mobile) {
        float: right;
        width: 1.5em;
        height: 1.5em;
        margin: .45em 0 0 0;
        background-size: 1.25em 1.25em;
      }
  }

  @mixin h3-content {
    h3 {
        text-transform: uppercase;
        display: block;
        padding: 0;
        border-bottom: .15em solid $ucsc-white;
        margin: 0 0 .75em 0;
        @include span-columns(12);
    }
  }

@mixin h4-content {
    h4 {
        display: block;
        padding: 0;
        margin: 0 0 .5em 0;
        @include span-columns(12);
    }
  }