/* Original Page */
section.original-header {
    @include span-columns(12);
    .logo-original {
        display: block;
        height: 5em;
        overflow: auto;
        text-indent: -9000px;
        @include media ($mobile) {
            @include span-columns(12);
            background: url("/css/assets/images/logo.svg") no-repeat center center;
            background-size: 22em;
        }
        @include media ($portrait) {
            @include span-columns(12);
            background: url("/css/assets/images/logo.svg") no-repeat center center;
            background-size: 22em;
        }
        @include media ($tablet) {
            @include span-columns(12);
            background: url("/css/assets/images/logo.svg") no-repeat center center;
            background-size: 22em;
        }
        @include media ($desktop) {
            @include span-columns(6 of 12);
            background: url("/css/assets/images/logo.svg") no-repeat bottom left;
            background-size: 19em;
        }
    }
    h1 {
        display: block;
        padding-top: .75em;
        color: $ucsc-yellow;
        @include media($mobile) {
            @include span-columns(12);
            text-align: center;
        }
        @include media($portrait) {
            @include span-columns(12);
            text-align: center;
        }
        @include media($tablet) {
            @include span-columns(12);
            text-align: center;
        }
        @include media($desktop) {
            @include span-columns(6 of 12);
            @include shift(2 of 12)
        }
    }
}
.title-header {
    display: block;
    padding: 0;
    margin: .5em 0 -1em 0;
    @include span-columns(12);
    h2 {
        display: block;
        color: $ucsc-white;
        @include span-columns(12);
        text-align: center;
    }
}
.margin-left {
    margin-left:10px;
}
section.original-article blockquote {
    color: $ucsc-blue;
}
.border-container {
    display: block;
    border-top: 5px solid $ucsc-yellow;
    border-bottom: 5px solid $ucsc-yellow;
}

section.original-article {
    display: block;
    padding: .75em;
    color: $ucsc-blue;
    h1 {
        margin: 0 0 .5em 0;
    }
    p {
        font-size: $font-size-h4;
    }
    img {
        display: block;
        float: right !important;
        margin: .1em 0 .25em .25em;
        @include span-columns(5 of 12);
        @include border-radius(10px);
    }
    @include media($mobile) {
        @include span-columns(12);
    }
    @include media($portrait) {
        @include span-columns(12);
    }
    @include media($tablet) {
        @include span-columns(7);
        @include shift(2.5);
    }
    @include media($desktop) {
        @include span-columns(7);
        @include shift(2.5);
    }
}
.white-background {
    background: $ucsc-white;
}

a.back-button, a.back-button:active {
    padding: .5em;
    text-align: center;
    background: $ucsc-yellow;
    margin: 0 auto 0 auto !important;
    font-size: $font-size-small;
    text-transform: uppercase;
    color: $ucsc-blue;
    font-weight: 400;
    text-decoration: none;
    float: none !important;
    @include border-radius-bottom(.35em);
    @include media($mobile) {
        @include span-columns(12);
    }
    @include media($portrait) {
        @include span-columns(12);
    }
    @include media($tablet) {
        @include span-columns(12);
    }
    @include media($desktop) {
        @include span-columns(4);
    }
}
a.back-button:after {
    content:"";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("/css/assets/images/arrow-original.svg") no-repeat center left;
    background-size: 20px;
    position: absolute;
    margin-top: -.15em;
}

/* Original Thinkers */
.grid-wrap {
    clear: both;
    margin: 0 auto;
    padding: 0;
    max-width: 68em;
}

.grid {
    margin: 30px auto;
    padding: 0;
    list-style: none;
    min-height: 500px;
}

.js .grid {
    background: url(/css/assets/images/loading.gif) no-repeat 50% 100px;
}

.js .grid.loaded {
    background: none;
}
.loaded {
    display:block;
    width: 68em !important;
    margin:0;
    padding: 0;
}

.grid li {
    display: inline-block;
    overflow: hidden;
    text-align: left;
    vertical-align: top;
    width: 100%;
    @include media($mobile){
        max-width: 300px; 
        margin: 0 auto 0 auto;
    }
    @include media($portrait){
        max-width: 268px; 
    }
    @include media($tablet){
        max-width: 268px; 
    }
    @include media($desktop){
        max-width: 268px; 
    }
}

.grid li img {
    width: 100%;
    @include media($mobile){
        max-width: 300px; /* image width */
        margin: 0 auto 0 auto;
    }
    @include media($portrait){
        max-width: 268px; /* image width */
    }
    @include media($tablet){
        max-width: 268px; /* image width */
    }
    @include media($desktop){
        max-width: 268px; /* image width */
    }
}

.js .grid li {
    display: none;
    float: left;
}

.js .grid.loaded li {
    display: block;
}

/* Title box */
.title-box h2 {
    display: block;
    margin: 7px;
    padding: 20px;
    background: #2E3444;
    color: #D3EEE2;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
}

.title-box h2 a {
    display: block;
    font-weight: 900;
}

.title-box h2 a:hover {
    color: #D3EEE2;
}

/* Anchor and image */
.grid li > a,
.grid li img {
    display: block;
    outline: none;
    border: none;
}

.grid li > a {
    position: relative;
    overflow: hidden;
    margin: 8px;
}

/* Curtain element */
.grid .curtain {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: #96cdc8;
}

.grid.swipe-right .curtain {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}

.grid.swipe-down .curtain {
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
}

.grid.swipe-rotate .curtain {
    width: 200%;
    height: 200%;
    -webkit-transform: rotate3d(0,0,1,90deg);
    transform: rotate3d(0,0,1,90deg);
    -webkit-transform-origin: top left;
    transform-origin: top left;
}

/* Shadow */
.grid .curtain::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,1);
    content: '';
}

.grid.swipe-right .curtain::after,
.grid.swipe-rotate .curtain::after {
    left: -100%;
}

.grid.swipe-down .curtain::after {
    top: -100%;
}

/* Title */
.grid li h3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    background: #f1b521;
    color: #FFF;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-transition: -webkit-transform 0.2s, color 0.2s;
    transition: transform 0.2s, color 0.2s;
    @include media($mobile){
        font-size: 1em;
        padding: 20px;
        line-height: 16px;
    }
    @include media($portrait){
        font-size: 1em;
        padding: 20px;
        line-height: 16px; 
    }
    @include media($tablet){
        font-size: 1em;
        padding: 20px;
        line-height: 16px; 
    }
    @include media($desktop){
        font-size: 1em;
        padding: 20px;
        line-height: 16px; 
    }
}

/* Pseudo element for hover effect */
.grid li > a::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100.5%;
    height: 100.5%;
    border: 0px solid transparent;
    background: rgba(0,0,0,0);
    content: '';
    -webkit-transition: border-width 0.2s, border-color 0.2s;
    transition: border-width 0.2s, border-color 0.2s;
}

/* Hover effects */
.grid li.shown:hover h3 {
    color: #fff;
    -webkit-transform: translate3d(0,-30px,0);
    transform: translate3d(0,-30px,0);
}

.grid li.shown:hover > a::before {
    border-width: 0px;/* 14px */
    /*border-color: #f1b521;*/
}

/* Animations */

/* Swipe right */
.grid.swipe-right li.animate .curtain {
    -webkit-animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
    animation: swipeRight 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

@-webkit-keyframes swipeRight {
    0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
    50%, 60% { -webkit-transform: translate3d(0,0,0); }
    100% { -webkit-transform: translate3d(100%,0,0); }
}

@keyframes swipeRight {
    0% {}
    50%, 60% { -webkit-transform: translate3d(0,0,0); transform: translate(0); }
    100% { -webkit-transform: translate3d(100%,0,0); transform: translate3d(100%,0,0); }
} 

/* Swipe down */
.grid.swipe-down li.animate .curtain {
    -webkit-animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
    animation: swipeDown 1.5s cubic-bezier(0.6,0,0.4,1) forwards;
}

@-webkit-keyframes swipeDown {
    0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
    50%, 60% { -webkit-transform: translate3d(0,0,0); }
    100% { -webkit-transform: translate3d(0,100%,0); }
}

@keyframes swipeDown {
    0% {}
    50%, 60% { -webkit-transform: translate(0); transform: translate(0); }
    100% { transform: translate3d(0,100%,0); transform: translate3d(0,100%,0); }
}

/* Swipe rotate */
.grid.swipe-rotate li.animate .curtain {
    -webkit-animation: swipeRotate 1.5s ease forwards;
    animation: swipeRotate 1.5s ease forwards;
}

@-webkit-keyframes swipeRotate {
    0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
    50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); }
    100% { -webkit-transform: rotate3d(0,0,1,-90deg); }
}

@keyframes swipeRotate {
    0% {}
    50%, 60% { -webkit-transform: rotate3d(0,0,1,0deg); transform: rotate3d(0,0,1,0deg); }
    100% { -webkit-transform: rotate3d(0,0,1,-90deg); transform: rotate3d(0,0,1,-90deg); }
}

/* Shadow */
.grid li.animate .curtain::after {
    -webkit-animation: fadeOut 1.5s ease forwards;
    animation: fadeOut 1.5s ease forwards;
    -webkit-animation-delay: inherit;
    animation-delay: inherit;
}

@-webkit-keyframes fadeOut {
    0% {} /* fixes Chrome 35.0.1916.114 issue (easing breaks) */
    50%, 60% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeOut {
    0% {}
    50%, 60% { opacity: 1; }
    100% { opacity: 0; }
}

/* Hide image and title and show at half time */
.js .grid li img,
.js .grid li h3 {
    visibility: hidden;
}

.grid li.animate img,
.grid li.animate h3 {
    -webkit-animation: showMe 1.5s step-end forwards;
    animation: showMe 1.5s step-end forwards;
}

@-webkit-keyframes showMe {
    from { visibility: hidden; }
    60%, 100% { visibility: visible; }
}

@keyframes showMe {
    from { visibility: hidden; }
    60%, 100% { visibility: visible; }
}

.grid li.shown img,
.grid li.shown h3 {
    visibility: visible;
}