
section.save-the-date-header {
    display: block;
    width: 100%;
    float: center !important;
    .container {
        height: 6.875em;
        float: center;
        display: block;
        @include outer-container;
    }
    
    @include media($tablet){
                @include span-columns(12); 
    }
    @include media ($desktop){
        position: absolute;
        @include span-columns(6);
        @include shift(3);
    }
}

.founders-background {
    background: url('/css/assets/images/founders/save-the-date-img.png') no-repeat top center;
    background-size: 100% auto;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
}
.space-top-img {
    display: inline-block;
    width: 100%;
    @include media($mobile){
        margin-top: 125px;
    }
    @include media($desktop){
        margin-top: 300px;
    }
}