/* - - - - - - - - - - - - - - - - - - - - -

 Title : UCSC Header
 URL : http://www.ucsc.edu

 Last Updated : April 1, 2011

- - - - - - - - - - - - - - - - - - - - - 

INSTRUCTIONS
1. Copy / Paste all or portions of these
CSS rules into "custom.css".

2. Experiment and play.

- - - - - - - - - - - - - - - - - - - - - */

/* - - - Default - - - */

/* Logo */
#logo a {
    background-image:url(/css/assets/images/blue-logo.svg);
    min-height:0;
    height:90px;
    background-position: 20px;
    background-size: 250px 109px;
    padding-bottom: 5px;
}
* html #logo a {/* IE6 png Support */
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://wufoo.com/images/themes/logos/shark.png", sizingMethod="crop");
}

/* Backgrounds */
html{background-image:none;background-color:#F2F0E4}
#logo{background-image:none;background-color:#F2F0E4;}
#container{background:#FFFFFF}
.wufoo input.text, .wufoo textarea.textarea{background:#FFFFFF url(../images/fieldbg.gif) repeat-x top}
.wufoo .focused{background:#FFF}
.wufoo .instruct{background-color:#F5F5F5}

/* Borders */
#container{border:0 solid #cccccc}
.wufoo .info{border-bottom:1px dotted #CCCCCC}
.wufoo .instruct{border:1px solid #e6e6e6}

/* Typography */
.wufoo .info h2{font-size:160%;font-family:inherit;color:#000000}
.wufoo .info div{font-size:95%;font-family:inherit;color:#444444}
.wufoo .section h3{font-size:110%;font-family:inherit;background:#FFFFFF;color:#000000}
.wufoo .section div{font-size:85%;font-family:inherit;color:#444444}
.wufoo label.desc, .wufoo legend.desc{font-size:95%;font-family:inherit;color:#444444}
.wufoo li div, .wufoo li div label, .wufoo li span label{font-family:inherit;color:#444444}
.wufoo input.text, .wufoo textarea.textarea, .wufoo select.select, .wufoo label.choice{font-size:100%;font-family:inherit;color:#333333}
.wufoo label.choice{color:#444444}
.wufoo .instruct{font-size:80%;font-family:inherit;color:#444444
}

/* MY CSS */
.required {
    display: block;
    float: right;
    font-size: 10px;
}
.required:before {
    content:"* ";
    color: red;
}