<!DOCTYPE html>
<html lang="en-US">
{% include 50th-header-yellow.html %}
	<section class="content yellow-background">
		<div class="container">
		<div class="left-column">
		  <article class="post-content">
		    {{ content }}
		  </article>
		  <div class="clear"></div>	
		{% include social-sharing.html %}
		</div>
		<div class="right-column">
			<div class="side-container">
				<h3>We’re always asking the big questions</h3>
				<ul>
				    <li><a href="http://www.ucsc.edu/features/students/index.html">Banana Slugs: Think it. Dare it. Do it.</a></li>
				    <li><a href="http://www.ucsc.edu/features/astro/index.html">Excellence in Space Sciences</a></li>
				    <li><a href="http://www.ucsc.edu/features/genomics/index.html">Leadership in Genomics</a></li>
				    <li><a href="http://www.ucsc.edu/features/silicon-valley/index.html">UCSC in Silicon Valley</a></li>
				    <li><a href="http://www.ucsc.edu/features/marine_sciences/index.html">Visionaries in Marine Sciences</a></li>
				      <div class="clear"></div>
				  </ul>
		
				</div>
			{% include events-sidebar.html %}	
		</div>


     	</div>
     	
      {% include footer.html %}
    </section>
    
    

  </body>

</html>
