<!DOCTYPE html>
<html lang="en-US">
{% include 50th-header-black.html %}
	<section class="content black-background">
		<div class="container">
		<div class="left-column">
		  <article class="post-content">
		    {{ content }}
		  </article>
		{% include social-sharing.html %}
		</div>
		<div class="right-column">
			<div class="side-container" style="margin-bottom: 4em;">
				<h3>Who says </h3>
				<a href="/whosays/"><h4>{% img /css/assets/images/whosays/star.jpg "Star" "Star" %}Who says you can't crack open a star?</h4></a>
				<div class="clear"></div>
				<hr>
				<a href="/whosays/fly.html"><h4>{% img /css/assets/images/whosays/space-shuttle.jpg "Space Shuttle" "Space Shuttle" %}Who says Banana Slugs can't fly?</h4></a>
				<div class="clear"></div>
				<hr>
				<a href="/whosays/genomics.html"><h4>{% img /css/assets/images/whosays/genomics.jpg "UC Santa Cruz Genomics" "UC Santa Cruz Genomics" %}Who says you need a medical school to defeat cancer?</h4></a>
				<div class="clear"></div>
			</div> 
			<!-- END WHO SAYS -->
			<div class="side-container">
				<h3>We’re always asking the big questions</h3>
				<ul>
				    <li><a href="http://www.ucsc.edu/features/students/index.html">Banana Slugs: Think it. Dare it. Do it.</a></li>
				    <li><a href="http://www.ucsc.edu/features/astro/index.html">Excellence in Space Sciences</a></li>
				    <li><a href="http://www.ucsc.edu/features/genomics/index.html">Leadership in Genomics</a></li>
				    <li><a href="http://www.ucsc.edu/features/silicon-valley/index.html">UCSC in Silicon Valley</a></li>
				    <li><a href="http://www.ucsc.edu/features/marine_sciences/index.html">Visionaries in Marine Sciences</a></li>
				      <div class="clear"></div>
				  </ul>
		
				</div>
			{% include events-sidebar.html %}	
		</div>


     	</div>
      {% include footer-black.html %}
    </section>
    
    

  </body>

</html>
