<HTML>
<head>
<link rel="stylesheet" href="/css/main.css">
</head>
<body>
<section class="header">
	<div class="logo">
		UC Santa Cruz 50th Anniversary
	</div>
	<div class="search-social">
		<form><input type="textarea"></form>
		<ul>
			<li><img src="{% asset_path facebook.svg %}" alt="Facebook"></li>
			<li><img src="{% asset_path twitter.svg %}" alt="Twitter"></li>
			<li><img src="{% asset_path instagram.svg %}" alt="Instagram"></li>
			<li><img src="{% asset_path youtube.svg %}" alt="Youtube"></li>
			<li><img src="{% asset_path linkedin.svg %}" alt="LinkedIn"></li>
		</ul>

	</div>
</section>
<div class="video-background">
	<video autoplay="autoplay" loop>
		<source src="{% asset_path timelapse.mp4 %}" type="video/mp4">
	</video>
</div>
</body>
</HTML>