<!DOCTYPE html>
<html>
{% include 50th-header.html %}

<div class="video-background">
	<video autoplay="autoplay" loop="true">
		<source src="{% asset_path timelapse.mp4 %}" type="video/mp4">
	</video>
<section class="front-promo">
	<div class="container">
		<div class="left-box"><h1>THE PAST</h1><img src="{% asset_path the-past-photo.jpg %}" alt="The Past"></div>
		<div class="middle-box"><h1>THE PRESENT</h1><img src="{% asset_path alumni-weekend.jpg %}" alt="Alumni Weekend"></div>
		<div class="right-box"><h1> THE NEXT 50</h1><img src="{% asset_path the-next-50.jpg %}" alt="The Next 50"></div>
	</div>
</section>
</div>
</body>
</html>