<HTML>
<head>
<link rel="stylesheet" href="/css/main.css">
<meta content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0" name="viewport"/>
</head>
<body>
<section class="header">
	<div class="container">
		<div class="logo">
			UC Santa Cruz 50th Anniversary
		</div>
		<div class="search-social">
			<form><input type="textarea"></form>
			<ul>
				<li><img src="{% asset_path facebook.svg %}" alt="Facebook"></li>
				<li><img src="{% asset_path twitter.svg %}" alt="Twitter"></li>
				<li><img src="{% asset_path instagram.svg %}" alt="Instagram"></li>
				<li><img src="{% asset_path youtube.svg %}" alt="Youtube"></li>
				<li><img src="{% asset_path linkedin.svg %}" alt="LinkedIn"></li>
			</ul>
		</div>
		<div class="nav">
			<label for="show-menu" class="show-menu">Menu</label>
			<input type="checkbox" id="show-menu" role="button">
			<ul id="menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">Events</a></li>
				<li><a href="#">Timeline</a></li>
				<li><a href="#">Our Stories</a></li>
				<li><a href="#">Participation</a></li>
				<li><a href="#">Donate</a></li>
			</ul>
		</div>
	</div>
</section>

<div class="video-background">
	<video autoplay="autoplay" loop="true">
		<source src="{% asset_path timelapse.mp4 %}" type="video/mp4">
	</video>
<section class="front-promo">
	<div class="container">
		<div class="left-box"><h1>THE PAST</h1><img src="{% asset_path the-past-photo.jpg %}" alt="The Past"><</div>
		<div class="middle-box"><h1>THE PRESENT</h1><img src="{% asset_path alumni-weekend.jpg %}" alt="Alumni Weekend"></div>
		<div class="right-box"><h1> THE NEXT 50</h1><img src="{% asset_path the-next-50.jpg %}" alt="The Next 50"></div>
	</div>
</section>
</div>
</body>
</HTML>