---
layout: post-aw
title: Sunday Events
img: /css/assets/images/aw-2015/events/wine-reception.jpg
permalink: /alumniweekend2015/events_sunday.html
exclude_from_search: true
---
{% include flexslider.html %}
  <!-- LEFT COLUMN -->

View events by day:<div class="events-days"><a href="/alumniweekend2015/events.html" class="day">All Events</a> <a href="/alumniweekend2015/events_saturday.html" class="day">Sat</a> <span class="onpage">Sun</span></div>

  <ul class="post-list">
    {% for event in site.data.alumniweekend.events %}
      {% assign eventdate = event.event.event_date | date: "%F" %}
      {% assign sitedate = site.time | date: "2015-04-26" %}
      {% if eventdate == sitedate %}
      <li>
        <span class="post-meta event-date">{{ event.event.event_date | date: "%b" }}<br/ >{{ event.event.event_date | date: "%-d" }}</span>
        <div class="event-content">
        {% if event.event.event.thumbnail.src != "" %}
          <img src="{{ event.event.thumbnail.src }}" class="event-image" />
        {% endif %}
        <h2>
          <a class="post-link" href="{{ event.event.link }}">{{ event.event.title }}</a>
        </h2>        
        <p>

        <span class="event-location">{{ event.event.event_date | date: "%-I:%M %P" }} | {{ event.event.location }}{{ event.event.location_details }}</span> 
        <span class="event-teaser">{{ event.event.teaser | strip_html | truncatewords:40 }}</span>
        </p>
        </div>
      </li>
      <div class="clear"></div>
      {% else %}
      {% endif %}
    {% endfor %}
  </ul>


<script>
  // $.getJSON( "events.json", function( data ) {
  //   var items = [];
  //   console.log(data);
  //   $.each( data, function( key, val ) {
  //     items.push( "<li id='" + key + "'>" + val + "</li>" );
  //   });
   
  //   $( "<ul/>", {
  //     "class": "my-new-list",
  //     html: items.join( "" )
  //   }).appendTo( "body" );
  // });
</script>
  