---
layout: post-aw
title: Events
img: /css/assets/images/aw-2015/events/wine-reception.jpg
exclude_from_search: true
---
{% include flexslider.html %}
 <section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <a href="https://events.ucsc.edu/event/2822">
              {% img /css/assets/images/aw-2015/events/lunch.jpg "Banana Slug Lunch: Farm Fresh, Family Style" "Banana Slug Lunch: Farm Fresh, Family Style" %}
              <h2>Banana Slug Lunch: Farm Fresh, Family Style</h2>
              <h3>April 25 @ 12:30 pm</h3>
            </a>
            </li>
            <li>
              <a href="https://events.ucsc.edu/event/2691">
              {% img /css/assets/images/aw-2015/events/anewwild.jpg "A New Wild:Saving Nature in a Human-Dominated World" "A New Wild:Saving Nature in a Human-Dominated World" %}
              <h2>True Originals: A NEW WILD</h2>
              <h3>April 24 @ 7:00 pm</h3>
              </a>
            </li>
            <li>
              <a href="https://events.ucsc.edu/event/2830">
              {% img /css/assets/images/aw-2015/events/wine-reception.jpg "Alumni Wine Reception: Sunset and Wine" "Alumni Wine Reception: Sunset and Wine" %}
              <h2>Alumni Wine Reception: Sunset and Wine</h2>
              <h3>April 25 @ 4 pm - 6pm</h3>
            </a>
            </li>
            <li>
              <a href="https://events.ucsc.edu/event/2818">
              {% img /css/assets/images/aw-2015/events/comedy-film.jpg "True Originals: Film Comedies" "True Originals: American Film Comedies" %}
              <h2>True Originals: Film Comedies</h2>
              <h3>April 25 @ 11:00 am</h3>
            </a>
            </li>
            <li>
              
              {% img /css/assets/images/aw-2015/events/teach-in.jpg "Teach-Ins: Bettina Aptheker and Craig Haney" "Teach-Ins Featuring Bettina Aptheker and Craig Haney" %}
              <h2 style="font-size:25px;">Teach-Ins: <a href="https://events.ucsc.edu/event/2826" style="color:#336aa3;">Bettina Aptheker</a> & <a href="https://events.ucsc.edu/event/2825" style="color:#336aa3;">Craig Haney</a> </h2>
              <h3>April 25 @ 2:30 pm - 3:45 pm</h3>
            
            </li>
          </ul>
        </div>
      </section>
 
  <ul class="post-list">
    {% for event in site.data.alumniweekend.events %}
     
      <li>
        <span class="post-meta event-date">{{ event.event.event_date | date: "%b" }}<br/ >{{ event.event.event_date | date: "%-d" }}</span>
        <div class="event-content">
        {% if event.event.event.thumbnail.src != "" %}
          <img src="{{ event.event.thumbnail.src }}" class="event-image" alt="Event Thumbnail"/>
        {% endif %}
        <h2>
          <a class="post-link" href="{{ event.event.link }}">{{ event.event.title }}</a>
        </h2>        
        <p>

        <span class="event-location">{{ event.event.event_date | date: "%-I:%M %P" }} | {{ event.event.location }} &nbsp; {{ event.event.location_details }}</span> 
        <span class="event-teaser">{{ event.event.teaser | strip_html | truncatewords:40 }}</span>
        </p>
        </div>
      </li>
      <div class="clear"></div>
    {% endfor %}
  </ul>


<script>
  // $.getJSON( "events.json", function( data ) {
  //   var items = [];
  //   console.log(data);
  //   $.each( data, function( key, val ) {
  //     items.push( "<li id='" + key + "'>" + val + "</li>" );
  //   });
   
  //   $( "<ul/>", {
  //     "class": "my-new-list",
  //     html: items.join( "" )
  //   }).appendTo( "body" );
  // });
</script>
  